#Sets up all environment vars.

################### CERT_SERVICE configuration ###################################
export keyA=valA
export CERT_SERVICE_BASE_URL=http://localhost:8080
export CLOUD_STORAGE_TYPE=azure
export AZURE_STORAGE_SECRET=someKey
export CONTAINER_NAME=certs
export AZURE_STORAGE_KEY=sb

################### END -  configuration #############################
