#Sets up all environment vars.

################### CERT_SERVICE configuration ###################################
export keyA=valA
export DOMAIN_PATH=http://localhost:8080/_schemas/Certificate/
export ASSESSED_DOMAIN=http://localhost:8080/_schemas/extensions/AssessedEvidence/context.json
export BADGE_URL=http://localhost:8080/_schemas/Badge.json
export ISSUER_URL=http://localhost:8080/_schemas/Issuer.json
export TEMPLATE_URL=http://localhost:8080/_schemas/template.html
export CONTEXT=http://localhost:8080/_schemas/context.json
export VERIFICATION_TYPE=SignedBadge
export PUBLIC_KEY_URL=http://localhost:8080/_schemas/publicKey.json

export CONTAINER_NAME=certs
export CLOUD_STORAGE_TYPE=azure
export CLOUD_UPLOAD_RETRY_COUNT=3
export AZURE_STORAGE_SECRET=someKey
export CONTAINER_NAME=certs
export AZURE_STORAGE_KEY=sb


export ACCESS_CODE_LENGTH=6

################### END -  configuration #############################
