#Sets up all environment vars.

################### CERT_SERVICE configuration ###################################


export sunbird_cert_domain_url=http://localhost:8080

export CONTAINER_NAME=certs
export CLOUD_STORAGE_TYPE=azure
export AZURE_STORAGE_SECRET=someKey
export CONTAINER_NAME=certs
export AZURE_STORAGE_KEY=sb

export ACCESS_CODE_LENGTH=6
export sunbird_cert_enc_service_url=http://localhost:8013
export download_link_expiry_timeout=10
export sunbird_cert_slug=certs


################### END -  configuration #############################
